fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart>=0.0.9
pydantic>=2.9.0
SQLAlchemy>=2.0.0
python-dotenv>=1.0.0
psycopg2-binary>=2.9.9
PyMuPDF>=1.24.0
pdfplumber>=0.11.4
spacy>=3.7.4,<3.8.0
scispacy>=0.6.2
rapidfuzz>=3.9.0
google-generativeai>=0.7.2
sentence-transformers>=2.7.0
langgraph>=0.2.0
faiss-cpu==1.13.2
PyYAML>=6.0
pytest>=8.0.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
